<!-- linking to base.jinja2 -->
{% extends "base.jinja2" %}

{% block content %}

    <div class="jumbotron">
        <h1>Jumbotron</h1>
        <p>Let's make responsive webpage.</p>
    </div>

    <div id="game-container">
        {% for i in range(10) %}
            <p>{{ sample[i] }}</p>
            <img class="picture" src="{{ sample[i] }}">
        {% endfor %}
    </div>


{% endblock %}