<!-- linking to base.jinja2 -->
{% extends "base.jinja2" %}

{% block content %}

    <div class="jumbotron">
        <h1>BBC Clone</h1>
        <br><br><br><br><br><br><br>
        <p>We are cloning BBC website.</p>
    </div>

{% endblock %}